html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    font-family: 'Montserrat';
    position: absolute;
    background-color: white;
}

h1 {
    font-size: 2.7rem;
    font-weight: 600;
    margin: 0 0 1.4rem;
    padding: 0;
    letter-spacing: 1px;
}

h2 a {
    color: white;
    text-decoration: none;

}

h6 {
    font-weight: bold;
    margin: 0;
}

img {
    width: 550px;
    height: 100%;
    max-width: 100%;
}

.fixed-top {
    position: fixed;
    padding: .7rem 6rem .7rem;
}

/* NAVBAR */

.bg-darkk {
    background-color: #171717;
}

.navigation {
    position: absolute;
    width: 100%;
}

.navbar-brand {
    color: white;
    font-family: 'Lato';
    font-size: 2.2rem;
    font-weight: bolder;

}

.links {
    height: 100%;
    margin-left: 40%;
    font-size: 1.6rem;
    color: white;
    text-shadow: rgba(119, 0, 254, .5) 1px 0 4px;
}

.nav-link {
    display: inline-block;
    margin: 0 .7rem 0 .7rem;
}

.icons-anchor {
    border: 1px solid;
    border-radius: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-icon {
    /* width: 100%; */
    color: white;
    font-size: 1.1rem;
    padding: 1px 2px;
}


.nav-link.icons-anchor:hover {
    background: white;
    color: black;
    border-color: #fff;
}

.nav-link.icons-anchor:hover i {
    color: black;
}

.nav-link.connect {
    margin-left: 3rem;
    font-size: 1rem;
    color: white;
    border: 1px solid;
    font-family: 'Lato';
    letter-spacing: .05rem;
    font-weight: normal;
    width: 9.5rem;
    text-align: center;
    --c: #ffffff;
    /* the color */

    /* color: #0000; */
    background:
        linear-gradient(90deg, #fff 50%, var(--c) 0) calc(100% - var(--_p, 0%))/200% 100%,
        linear-gradient(var(--c) 0 0) 0% 100%/var(--_p, 0%) 100% no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: .4s;
}

.nav-link.connect:hover {
    color: black;
    --_p: 100%;
    border-color: white;
}

/* HOME SECTION */


.home-section {
    min-height: 100vh;
    height: 40rem;
    width: 100%;
    background-image: url("../images/astronaut1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20rem 6rem 0 6rem;
}

.home {
    color: white;
    padding: 0;
    display: inline-block;
    width: 30%;

}


.top {
    display: inline-block;
    background: linear-gradient(90deg, rgba(59, 0, 255, 1) 15%, rgb(140, 0, 254) 100%);
    padding: 1.1rem 1rem;
    border: 2px solid white;
    border-radius: 15px;
    font-family: 'Roboto';
    letter-spacing: .05rem;
    margin-bottom: 2rem;
}

.heading {
    display: inline-block;
}

.about {
    font-size: 1rem;
    line-height: 1.7rem;
    margin-bottom: 2rem;
}


/* Skills */

.wrapper {
    min-width: 100vh;
    min-height: 65vh;
    background-image: url("../images/banner-bg.png");
    background-repeat: no-repeat;
    background-position: 30% 40%;
    background-size: cover;
    position: relative;
}


.skills-wraper {
    display: inline-block;
    margin: auto;
    height: 85%;
    width: 90%;
    background-color: rgb(23, 23, 23);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 70px;
}

.skills-title {
    color: white;
    text-align: center;
    margin: 2rem 0 0;
}

.skills-title h2 {
    font-weight: 100;
    margin-bottom: 1rem;
}

/* Skills carousel */
.carousel {
    margin-top: 2rem;
}

.row {
    margin-left: 10rem;
}

.skill-div {
    height: 200px;
    width: 33%;
    background-color: red;
    display: inline-block;
}

.box {
    position: relative;
    width: 50%;
    height: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: 'Lato';

}

.box .percent {
    position: relative;
    width: 250px;
    height: 250px;
}

.box .percent svg {
    position: relative;
    width: 250px;
    height: 250px;
}

.box .percent svg circle {
    width: 150px;
    height: 150px;
    fill: none;
    stroke-width: 18;
    transform: translate(5px, 5px);
    stroke-dasharray: 596;
    stroke-dashoffset: 596;
    stroke-linecap: round;
}

.box .percent svg circle:nth-child(1) {
    stroke-dashoffset: 0;
    stroke: inherit;

}

.box .percent svg circle:nth-child(2) {
    stroke-dashoffset: calc(560 - (560 * 87) / 100);
    stroke: rgb(88, 16, 189);

}

.box .percent .number {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box .percent .number h2 {
    font-size: 48px;
}

.box .percent .number h2 span {
    font-size: 24px;
}

.box .text {
    padding: 10px 30px 10px;
    margin-right: .5rem;
    letter-spacing: 1px;
}

.carousel-indicators {
    top: 340px;
    right: 40px;
}


/* PROJECTS SECTION */

.projects-wrapper {
    background-color: rgb(23, 23, 23);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 10rem 0;
}

.projects-title {
    font-family: 'Lato';
    font-size: 2.3rem;
    margin: 0;
}



#projects .row {
    margin: 3rem 0;
}

.project-column {
    margin-bottom: 2rem;
}

.project-div {
    height: 15rem;
    width: 25rem;
    /* background-color: red; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 1.5rem;
    position: relative;
    overflow: hidden;
}

.overlay {
    border-radius: 1.5rem;
    opacity: 0;
    position: absolute;
    transition: all 0.6s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

.project-div:hover .overlay {
    opacity: 0.8;
}

.fade-top {
    width: 100%;
    height: 0;
    top: 0;
    background-color: whitesmoke;
}

.project-div:hover .fade-top {
    height: 100%;
}

.overlay h2 {
    font-size: 2.5rem;
    font-family: 'Lato';
}

.overlay h2 {
    font-size: 1.5rem;
}

.overlay a {
    font-size: 2.5rem;
    color: black;
}


/* Contact Section */

.contact-wrapper {
    background: linear-gradient(90deg, rgba(176, 4, 176, 1) 0%, rgba(56, 9, 122, 1) 100%);
    display: flex;
    justify-content: center;
    gap: 13rem;
    padding: 6rem 0;
}

.contact-form {
    width: 25rem;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}

.input {
    background-color: transparent;
    color: white;
    padding-left: 1rem;
    border-width: 1px;
    border-radius: 1rem;
    height: 3.5rem;
    font-size: 1rem;
    font-family: sans-serif;
}

.input:focus {
    background-color: transparent;
    color: white;
}

.input::placeholder {
    color: white;
    opacity: .5;
}

.textarea {
    width: 100%;
    height: 9rem;
    background-color: transparent;
    color: white;
    padding: .5rem 1rem;
    border-radius: 1rem;
}

.textarea:focus {
    background-color: transparent;
    color: white;
    outline: black;
}

.textarea::placeholder {
    color: white;
    opacity: .5;
}

.textarea {
    resize: vertical;
}

.btn {
    width: 8rem;
    padding: 16px 2rem;
    border-radius: .5rem;
    margin: 2rem 0;
}

/* Footer */

.footer {
    background-color: #171717;
    justify-content: space-between;
    align-items: center;
}

.flex i {
    font-size: 1.7rem;
}

/* MEDIA QUERIES */
@media screen and (min-width: 992px) and (max-width: 1536px) {



    /* SKILLS SECTION */
    .carousel {
        margin-top: 1.5rem;
    }
    
    .carousel-indicators {
        visibility: hidden;
    }

    .box .text {
        padding: 10px 30px 10px;
        margin-right: .5rem;
        letter-spacing: 1px;
        font-size: 24px;
    }

    /* PROJECTS SECTION */
    .projects-wrapper {
        padding: 2rem 5rem 0;
    }
  }